.bc-body , span, h1, ul, li, img, iframe {
	padding:0px;
	margin:0px;
	border:0px;
}

.bc-body {
	background-color:#000000;
	font-family:arial;
	width:280px;
	color:#ffffff;
}

#bc-header {
	left:0;
	top:0;
	width:100%;
	background-image: -webkit-linear-gradient(top, #585858, #000000);
	vertical-align:middle;
	border-top:1px groove;
	border-bottom:1px groove;
}

#bc-content {
	height:350px;
	
	/* 
	   controls the size of the stripes and their offset; they have to be
	   coordinated a certain way to ensure smooth lines
	*/
	background-size: 0.4em 0.4em;
	/* 
	   sets up the actual lines being used to create the pinstriping effect
	*/
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
								

}

#bc-footer {
	bottom:0;
	left:0;
	width:100%;
	height:35px;
	border-top:1px groove;
	background-image: -webkit-linear-gradient(top, #585858, #000000);
}

h1 {
	font-size:1.2em;
	color:#aeaeae;
	font-weight:normal;
}

.bc-bottom-nav {
	left:0;
	text-align:left;
	display:inline;
	list-style-type:none;
}

.bc-bottom-nav li {
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	margin-right:-2px;
	margin-left:-2px;
	font-size:.7em;
	color:#aeaeae;
}

.bc-bottom-nav li:hover {
	background-image: -webkit-linear-gradient(top, #ffffff, #3181C6);
	color:#ffffff;
}

.bc-bottom-nav img{
	margin-left:4px;
	float:left;
	height:20px;
	width:20px;
	margin-top:3px;
}

.bc-nav-active {
	color:#ffffff;	
	border-radius:2px;
	background-color:#161616;
}

ul.bc-news-list {
	margin-left:7px;
	display:inline-block;
	width:95%;
	text-align:left;
	list-style-type:none;
	color:#ffffff;
	max-height:350px;
	overflow-y:scroll;
}

li.bc-news-item {
	/*
	background-color: #585860;
	opacity:0.75;
	*/
	background: url("images/transparent.png") transparent 0 0;
	min-height:60px;
	margin:5px;
	border:1px groove;
	border-radius:5px;
	vertical-align:middle;
}

li.bc-news-item:hover {
	color:#69cabd;
	border-color:#69cabd;
}

li.bc-news-item span {
	position: relative;
	top:5px;
}

li.bc-news-item img {
	margin-left:3px;
	opacity:1.0;
	vertical-align:middle;
	margin-top:20px;
	float:left;
}

.bc-news-box {
	display:inline-block;
	vertical-align:middle;
	background-color: #585860;
	opacity:0.75;
	width:90%;
	min-height:40px;
	margin:10px;
	border: 1px groove;
	border-radius:5px;
}

ul.bc-news-details {
	margin-left: 35px;
	list-style-type:none;
}

ul.bc-news-details li {
	border:none;
	background:none;
	min-height:0px;
}

li.bc-news-pub-date {
	font-size:.6em;
	color: #585860;
	padding-bottom:5px;
}

ul.bc-news-details li  span{
	cursor:default;
}

/* Profile Page */

img.bc-profile-banner {
	width:260px;
	border-radius:2px;
	margin-left:28px;
}